*, html, body{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
}

.nav{
  width:100vw;
  height:3em;
  padding:.25em;
  background:rgb(39,52,33);
  display:flex;
  justify-content:center;
  position:fixed;
  top:0;
  box-sizing:border-box;
  z-index: 1000
}

ul{
  box-sizing:border-box;
  list-style-type:none;
  display:flex;
  justify-content:space-around;
  align-items:center;
  width:calc(100%);
  height:100%;
}

li{
  height:100%;
  float:left;
  align-items:center;
  justify-content:center;
  display:flex;
  margin:0 .125em;
  flex:1;
  background:rgb(72,82,63);

  font-family: futura;
  font-size:.8em;
}

a{
  color:rgb(175,186,176);
  text-decoration: none;
  text-shadow:1px 1px 1px rgb(39,52,33);
}

a:hover{
  text-shadow:-1px -1px 1px rgb(39,52,33);
}
/*******************/
.wrapper { /* Parent element for all three layers */
  height: 100vh;
  width:100vw;
  box-sizing:border-box;
  overflow-x: hidden; /* Restrict scroll movement with overflow */
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.page {
  box-sizing:border-box;
  height:100%;
  width:100%;
  position:relative;
  background-image: url("michealle-site/background.png");
  background-size:100%;
  background-attachment: fixed;  
  scroll-snap-align:start;

  z-index: -1;
}

.content{
  box-sizing:border-box;
  position:absolute;
  height:100%;
  width:100%;
  background-size:auto 70%;
  background-position:center center;
  background-repeat:no-repeat;

}

/** PAGE ONE **/

.pageone .background{
  background-image: url("michealle-site/circle-bg.png");
  z-index:0;    
  background-attachment: fixed;
}

.pageone .sandwich{
  background-image: url("michealle-site/me.png");
  z-index:2;
}

.pageone .frame{
  background-image: url("michealle-site/border2.png");
  z-index:4;
}

/** PAGE TWO **/
.pagetwo .background{
  background-image: url("michealle-site/circle-bg2.png");
  z-index:1;
  background-attachment: fixed;
}

.pagetwo .frame{
  background-image: url("michealle-site/border1.png");
  z-index:3;
}

.pagetwo .decoration { /* These are values shared by all three layers. */
  box-sizing:border-box;
  height:100%;
  width:100%;
  position:absolute;
  background-size:auto 70%;
  background-repeat:no-repeat;
  background-attachment: fixed;
  z-index:4;
}
.decoration.bottom {
  background-image: url("michealle-site/bottom-flowers.png");
  background-position: left bottom;
  z-index: 5;
}
.decoration.top {
  background-image: url("michealle-site/top-flowers.png");
  background-position: right 3em;
  z-index: 5;
}

/** PAGE THREE **/

.pagethree .background{
  background-image: url("michealle-site/circle-bg3.png");
  z-index:2;
  background-attachment: fixed;
}

.pagethree .sandwich{
  background-image: url("michealle-site/byanihan.png");
  z-index:3;
}
.pagethree .frame{
  background-image: url("michealle-site/border2.png");
  background-attachment: fixed;
  z-index:4;
}

.pagethree .decoration{
  box-sizing:border-box;
  height:50%;
  min-width:100%;
  position:absolute;
  bottom:0;
  background-size:100%;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-image: url("michealle-site/mountain.png");
  z-index:5;
}

/** PAGE FOUR **/
.pagefour{
  z-index:100;
}
.pagefour .background{
  background-image: url("michealle-site/circle-bg2.png");
  z-index:1;
  background-attachment: fixed;
}

.pagefour .sandwich{
  box-sizing:border-box;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  text-align: center;
  font-family: "futura";
  font-size:1em;
  line-height:1.8em;
  position:absolute;
  width:100%;
  height:100%;
  z-index: 10;
  color: white;
  text-shadow:-1px -1px 1px rgb(39,52,33);
}

.pagefour a{
  color: white;
  text-shadow:-1px -1px 1px rgb(39,52,33);
  text-decoration: none;
}
.pagefour a:hover{
  text-shadow:1px 1px 1px rgb(39,52,33);
}
h1{
  font-size:1.5em;
  font-family: "futura";
  letter-spacing:0.1em;
  font-weight:medium;
  color: white;
  text-shadow:-1px -1px 1px rgb(39,52,33);
}
hr{
  margin: .75em 0 1em 0;
  color: white;
  width: 1em;
  border:1px solid white;
}











/* Learn more about CSS parallax: http://keithclark.co.uk/articles/pure-css-parallax-websites/ */
