* {
  margin:0;
  padding:0;
}

html {
  background-color: rgb(245, 210, 220);
}

.parallax-container { /* Parent element for all three layers */
  height: 100vh;
  width:100vw;
  overflow-x: hidden; /* Restrict scroll movement with overflow */
  overflow-y: scroll;
  perspective: 2px;
  /* 
    IMPORTANT! Parent's perspective property determines strength of perspective effect 
  */
}

.layer { /* These are values shared by all three layers. */

}

.back {
  height:100%;
  width:100%;
  position:absolute;
  top: 0;
  left: 0;
  background-image: url("michealle-site/background.png");
  background-size:contain;
  background-repeat:repeat;
  z-index: 0;
}

.midd {
  position:absolute;
  bottom:0;
  left:0;
  padding:0;

  height:100vh;
  width:100vh;

  background-image: url("michealle-site/bottom-flowers.png");
  background-size:contain;
  background-repeat:no-repeat;
  z-index: 1;
}

.fore {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;

  height:100vh;
  width:100vh;

  background-image: url("michealle-site/top-flowers.png");
  background-size:contain;
  background-repeat:no-repeat;

  z-index: 2;
}

/* Learn more about CSS parallax: http://keithclark.co.uk/articles/pure-css-parallax-websites/ */
