*, html, body{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
  top,left,right:0;
  width:100vw;
  height:100vh;
}

.nav{
  width:100vw;
  top,left,right:0;
  height:3em;
  padding:.25em;
  background:rgb(39,52,33);
  display:flex;
  justify-content:center;
  position:fixed;
  bottom:0;
  box-sizing:border-box;
  z-index: 1000
}

ul{
  box-sizing:border-box;
  list-style-type:none;
  display:flex;
  justify-content:space-around;
  align-items:center;
  width:calc(100%);
  height:100%;
}

li{
  height:100%;
  float:left;
  align-items:center;
  justify-content:center;
  display:flex;
  margin:0 .125em;
  flex:1;
  background:rgb(72,82,63);

  font-family: futura;
  font-size:1em;
}

a{
  display:flex;
  flex-grow:1;
  flex-shrink:1;
  justify-content:center;
  align-items:center;
  height:100%;
  color:rgb(175,186,176);
  text-decoration: none;
  box-shadow:-1px -1px 2px rgba(175,186,176,.7);
  text-shadow:-1px -1px 1px rgb(39,52,33);
}

a:hover{
  text-shadow:1px 1px 1px rgb(39,52,33);
  box-shadow:1px 1px 2px rgba(175,186,176,.7);
}

.footer{
  width:100vw;
  height:3em;
  top,left,right:0;
  padding:.25em .125em;
  background:rgb(39,52,33);
  display:flex;
  justify-content:center;
  position:fixed;
  top:0;
  box-sizing:border-box;
  z-index: 1000
}


.parallax-container { /* Parent element for all three layers */
  height: 100vh;
  width:100vw;
  overflow-x: hidden; /* Restrict scroll movement with overflow */
  overflow-y: scroll;
  perspective: 100px;
  position:absolute;
  background-image:url("michealle-site/background.png");
  background-size:contain;

  /* 
    IMPORTANT! Parent's perspective property determines strength of perspective effect 
  */
}

.parallax-container::-webkit-scrollbar {
  display: none;
  }


.layer { /* These are values shared by all three layers. */
  position: absolute; /* Layer positioning is important */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height:100vh;
  width:100vw;
  background-position: center;


  background-repeat: no-repeat;
}

.back {
  transform: translateZ(-100px) scale(2);
  /* 
    IMPORTANT! 
      TranslateZ: TranslateZ pushes layer back so it scrolls slower and appears 
      farther away. 
      
      Scale: Scale will scale layer back up to fit screen while retaining 
      perspective effect. The value of scale depends on the values of 
      perspective (see parent element above) and translateZ (for the given 
      layer). The formula is: 
        ((translateZ * -1) / perspective) + 1 
  */
  background-image: url("michealle-site/circle-bg.png");
  background-size:100vw;
  background-position: center;
  background-attachment: fixed;

}

.midd {
  transform: translateZ(-50px) scale(1.5);
  /* Here, the translateZ value is closer to foreground value than background
  value, so the midground will seem to be pretty close to the foreground
  and will scroll pretty fast.  */
  background-image: url("michealle-site/byanihan1.png");
  background-size:100vw;
  background-position: center;

}

.fore {
  transform: translateZ(50) scale(0.5);
  /* Zero value for translateZ property makes foreground scroll normally.
  No scale value is needed because this layer is not translated.
  NOTE: TranslateZ value can be greater than 0 for extreme foreground. */
  background-image: url("img/treeline-midd.png");
  background-size:cover; 
  z-index: 1;
  top:50%;
}

.hello{
  border:thick solid red;
  position:absolute;
  height:2000px;
  display:block;
  z-index: 0;
  top:100%;
  background:rgb(23,17,7);
}







/* Learn more about CSS parallax: http://keithclark.co.uk/articles/pure-css-parallax-websites/ */
